
* {
    margin: 0;
    border: 0;
}


body {
    background-color: #10b93afd !important;
    font-weight: bold !important;
}


body nav {
    margin-left: -15px !important;
    margin-right: -15px !important;
}


.jumbotron {
    color: white !important;
}


.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


body .bg-dark {
    background-color: #1b1b1b !important;
}

footer {
    background-color: #1b1b1b !important;
    color: white !important;
    padding-top: 10px !important;
    margin-left: -369px !important;
    margin-right: -369px !important;
}




body .section-table {
    background-color: #1b1b1b !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}


section .card {
    top: 20px !important;
    left : 20px !important;
}


section .title-store {
    margin-left: 35px !important;
    text-decoration: underline !important;
}


body .table {
    color: #10b93afd !important;
    width: 49rem !important;
    margin-top: 1.2rem !important;
    margin-left: 2rem !important;
    min-height: 13rem !important;
    position: relative;
    height: 10rem !important;
}


body .main-card {
    min-height: 25rem !important;
}


.main-card .card-header {
    color: #10b93afd !important;
}


.main-card .card-store {
    display: flex !important;
    margin-bottom: 20px !important;
}


.card-store .list-group {
    box-shadow: rgb(206, 206, 206) 2px 2px 8px !important;;
    min-width: 13rem !important;
    margin: 4px 4px 4px 4px !important;
}


.card-store .lojas {
    background-color: #10b93afd !important;
}


.main-card .data-store {
    color: #10b93afd !important;
}


.card-body .store-text {
    color: white !important;
}
