
* {
    margin: 0;
    border: 0;
}


body {
    background-color: #10b93afd !important;
    font-weight: bold !important;
}


body nav {
    margin-left: -15px !important;
    margin-right: -15px !important;
}


.jumbotron {
    color: white !important;
}


body .bg-dark {
    background-color: #1b1b1b !important;
}


body footer {
    background-color: #1b1b1b !important;
    color: white !important;
    padding-top: 10px !important;
}


footer {
    color: white !important;
    margin-left: -369px !important;
    margin-right: -369px !important;
}
