
{% extends 'base.html' %}


{% block head %}
    <title>ByCoders - Home</title>
{% endblock %}


{% block body %}


    <div class="container">
        <br>
        <br>


    {% if current_user.is_authenticated %} <!-- Check if user's logged -->


    <!--/.jumbotron -->
    <div class="jumbotron bg-dark">

        <h1 class="display-4">Bem-vindo, <u>{{ current_user.fname }} {{ current_user.lname }}</u>!</h1>
        <br>

            <p class="lead">Para enviar o arquivo CNAB basta clicar no botão Browse e depois em Enviar.
            </p>

            <hr class="my-4 bg-light">


            <form enctype="multipart/form-data" action="{{ url_for('home.index') }}" method="POST">

                <div class="form-group">
                    <p>Upload File: 
                        <input type="file" name="file" />
                    </p>
                </div>

                <button class="btn btn-outline-light btn-lg bg-success" type="submit" style="color: white;">Enviar</button>

                {% if upload_error %}
                <br>
                <br>
                    <p class="lead">Arquivo com mesmo nome já está salvo no banco de dados...
                    </p>
                {% endif %}


                {% if file_error %}
                <br>
                <br>
                    <p class="lead">Selecione um arquivo válido...
                    </p>
                {% endif %}

                {% if upload_success %}
                <br>
                <br>
                    <p class="lead">Arquivo enviado com sucesso!
                    </p>
                {% endif %}

            </form>


    <!--/.jumbotron -->
    </div>


    {% else %} <!-- Check if user's logged -->


        <!--/.jumbotron -->
          <div class="jumbotron bg-dark">

            <h1 class="display-4"><u>Bem-vindo</u>!</h1>
            <br>

                <p class="lead">Esta aplicação é um desafio para devs o qual consiste em receber um arquivo do tipo CNAB através de um Upload,
                tratar o documento, salvar no banco de dados e disponibilzar no site de maneira dinâmica.
                </p>
                <p class="lead">Para ter acesso as funcionalidades do site é necessário realizar um cadastro e efetuar o login.</p>


                <hr class="my-4 bg-light">
                <p class="lead">Já é cadastrado? Só clicar no botão de login ou ir em Profile para logar =]</p>

                <a class="btn btn-outline-light btn-lg bg-success" href="{{ url_for('register.register_user') }}" style="color: white;">Registrar</a>
                <a class="btn btn-outline-success btn-lg bg-succeess" href="{{ url_for('login.log_user') }}" style="color: white;">Login</a>

        <!--/.jumbotron -->
        </div>

    </div>


    {% endif %} <!-- Check if user's logged -->

{% endblock %}