{% extends 'base.html' %}

{% block head %}
    <title>ByCoders - Login</title>
{% endblock %}

{% block body %}

    <div class="container">
    <br>


    <!-- Check if user's logged -->
    {% if current_user.is_authenticated %}


        <!--/.jumbotron -->
        <div class="jumbotron bg-dark">

            <h1 class="display-4"><u>Login</u></h1>
            <br>

                <p class="lead">Você já está logado ^^'
                </p>

                <p class="lead">Você pode deslogar no botão da barra superior em Profile.
                </p>

                <hr class="my-4 bg-light">
                <p class="lead">Quer mesmo deslogar?</p>

                <a class="btn btn-outline-light btn-lg bg-success" href="{{ url_for('login.logout') }}" style="color: white;">Deslogar</a>

        <!--/.jumbotron -->
        </div>


    {% else %} <!-- Check if user's logged -->



    <!-- email_error/pwd_error -->
    {% if error %}

        <!--/.jumbotron -->
        <div class="jumbotron bg-dark">

            <h1 class="display-4"><u>Login</u></h1>
            <br>

                <p class="lead">E-mail e/ou senha está incorreta =x
                </p>

        <!--/.jumbotron -->
        </div>


    {% else %} <!-- email_error/pwd_error -->


            <!--/.jumbotron -->
            <div class="jumbotron bg-dark">

                <h1 class="display-4"><u>Login</u></h1>
                <br>
    
                    <p class="lead">Para realizar o login é necessário validar seu e-mail e senha cadastrados.
                    </p>

            <!--/.jumbotron -->
            </div>


        <form action="{{ url_for('login.log_user') }}" method="POST">

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control col-4" id="email" name="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="form-group">
            <label for="pwd">Senha</label>
            <input type="password" class="form-control col-4" id="pwd" name="pwd" placeholder="Digite sua senha" required>
        </div>


            <button type="submit" class="btn btn-outline-success btn-lg bg-dark">Logar</button>

        </form>

    </div>


    {% endif %} <!-- email_error/pwd_error -->


{% endif %} <!-- Check if user's logged -->


{% endblock %}
